#espaceflexbox1
{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    padding:5px;
    align-items: stretch;
    flex-flow: row wrap;
    background-color:rgba(255, 166, 0, 0.473) 
}

:root
{
    --couleurMiniBox:rgba(255, 17, 0, 0.164);
    --paddingMiniBox:15px;
}
#flexboxBox1
{
    background-color: var(--couleurMiniBox);
    padding: var(--paddingMiniBox);
}

#flexboxBox2
{
    background-color: var(--couleurMiniBox);
    padding: var(--paddingMiniBox);
}

#flexboxBox3
{
    background-color: var(--couleurMiniBox);
    padding: var(--paddingMiniBox);
}
